:root {
  font-size: 16px;
  --color-1: #172B4D;
  --color-2: #505F79;
  --color-3: #42526E;
  --color-4: #EBF0EE;
  --color-5: #36B37E;
  --color-6: #6B778C;
  --color-7: #f0f0f0;
  --color-8: #344563;
}

* {
  box-sizing: border-box;
}

body, html {
  background-color: white;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.header {
  background-image: url('./assets/header-bg-image.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 300px;
}

.navbar a {
  color: var(--color-1);
}

.header-social-links .fa {
  color: var(--color-1);
}

.header-content {
  margin-top: 5%;
  height: 70%;
  width: 70%;
}

.header-social-links {
  width: 200px;
}

.header-social-links a {
  color: var(--color-2);
}

.header-h2-1 {
  font-size: 3rem;
  font-weight: 800;
  font-style: normal;
  line-height: 3.75rem;
  color: var(--color-1);
}

.header-h2-2 {
  font-size: 3rem;
  font-weight: 800;
  font-style: normal;
  line-height: 3.75rem;
  color: var(--color-5);
}

.header-content p {
  font-size: 1.15rem;
  line-height: 2rem;
  font-weight: normal;
  font-style: normal;
  color: var(--color-1);
}

.recent-works{
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.recent-works h2, .about-me h2 {
  font-weight: bold;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: var(--color-1);
}

.works-img{
  height: 237px;
  width: 100%;
  object-fit: cover;
}

.works-card-content h4 {
  color: var(--color-1);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2rem;
}

.works-card-content p {
  color: var(--color-8);
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  font-family: 'Inter', sans-serif;
}

.tags {
  /* display: inline-block; */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--color-1);
  background-color: var(--color-4);
}

.work-links a, .about-me a {
  text-decoration: none;
  background-color: var(--color-5);
  color: var(--color-7);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.work-links img {
  width: 12px;
  height: 12px;
}

.about-me-desc {
  position: relative;
}

.about-me-bg-img1 {
  position: absolute;
  left: 0px;
  top: 70px;
  max-width: 150px;
}

.about-me-bg-img2 {
  position: absolute;
  right: 0px;
  bottom: 60px;
  max-width: 150px;
}

.about-me p{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--color-3);
}

.about-me-cards {
  height: 340px;
  background-color: var(--color-4);
}

.about-me-cards span {
  background-color: #ffffff;
}

.about-me-cards h4 {
  margin-top: 3rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
  color: var(--color-8);
}

.about-me-card-tags {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--color-5);
  background-color: #ffffff;
}

.contact-me {
  margin-bottom: 300px;
  position: relative;
}

.contact-me-bg-img-1 {
  position: absolute;
  left: 0px;
  bottom: -300px;
}

.contact-me-bg-img-2 {
  position: absolute;
  left: 25%;
  bottom: -300px;
}

.contact-me-bg-img-3 {
  position: absolute;
  right: 0px;
  bottom: -300px;
}

.contact-me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--color-1);
}

.submit-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.75rem;
  background-color: var(--color-5);
  color: #ffffff;
}

footer p {
  font-size: .8rem;
  font-style: normal;
  font-family: 'Inter', sans-serif;
  color: var(--color-1);
}

footer a {
  color: var(--color-5);
  font-weight: bold;
}

.scroll-icon{
  position: fixed;
  float: right;
  top: 50%;;
}

.scroll-icon a {
  color: var(--color-5);
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: var(--color-7);
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .about-me-bg-img1, .about-me-bg-img2 {
    max-width: 100px;
  }
}
